@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:wght@400;500;600;700&display=swap");

body {
    font-family: "Poppins", sans-serif !important;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color:  rgb(241, 241, 241);
    touch-action: manipulation;
}

.website_content{
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -1;
}
.website_content img{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    
}

.popup{
    max-width: 100vw;
    max-height: 100vh;
    overflow-y: auto;


    margin: auto;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
}
#menu{
    background-color: rgba(255, 255, 255);
    z-index: 5;
}
#returntoMenu{
    z-index: 10;
    opacity: 0;
    display: none;
    transition: opacity 0.3s;
    height: 100vh;
    background-color: rgba(255, 255, 255);

}

.form_container_content{
    padding: 30px;
    opacity: 1;
    transition: opacity 0.3s;
}


.content_center{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.container_dark{
    background-color: #2a2a2a;
    color: white;
    border-radius: 10px;
    padding-left: 35px!important;
    padding: 25px;
    height: 190px;
    margin-top: 25px;
    padding-right: 30px!important;
    border-radius: 5px;

}
.container_dark h5{
    margin-bottom: 2px;
    font-weight: 700;
}
.form_container_headline span{
    margin: auto;
}
.text_highlighted{
    background-color: rgb(211, 22, 22);
    color: white;
    font-weight:  800;
}
#title{
    height: 55px;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    align-content: center;
    font-size: 1.5rem;
}
#title_description{
    font-size: 1.4rem;
    max-width: 600px;
    text-align: center;
}
#new_note{
    font-size: 1.2rem;
    max-width: 600px;
    display: table;
}
.custom_input{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 10px;
}
.straba_label{
    padding: 5px;
    font-size: 17;
    font-weight: 700;
}
.straba_input{
    width: 600px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
}
.straba_input:focus {
    border: 2px solid rgb(211, 22, 22)!important;
    transition: border 0.2s ease;
}
#logo{
    float: right;
}
.straba_logo{
    width: 200px;
}
.dropdown_items{
    width: 600px;
    background-color: rgb(255, 255, 255);
    border: 1px solid grey;
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    top: 75px;
    z-index: 2;
    transition: 0.2s;
    opacity: 0;
    padding-top: 10px;
}
.dropdown_items li{
    padding: 8px;
    list-style-type: none;
    margin-left: -10px;
    background-color: white;
}
.dropdown_items li:hover{
    cursor: pointer;
    filter: brightness(95%);
    transition: 0.2s ease;
}
#submitbutton{
    background-color: rgb(211, 22, 22)!important;
}
#sendbtn{
    background-color: rgb(208 110 41)!important;
}
#submitbutton_notice{
    font-size: x-large;
    font-weight: 800;
}
.straba_input_pfeil{
    float: right;
    width: 50px;
    position: absolute;
    top: 42px;
    right: 0;

}
.input_small{
    width: 250px!important;

}
.straba_input_pfeil img{
    height: 25px;
    width: 25px;
}
.fl{
    float: left;
}
.button_general{
    width: 100%;
    max-width: 600px;
    height: 55px;
    border: none;
    border-radius: 5px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: center;
}
#mobile_container{
    width: 600px;
    border-radius: 5px;
}

.selection_note_directions{
    float: right; 
    margin-right: 15px;
}
.station_form{
    margin-top: 20px;

}
.stations_container{
    margin-top: 15px;
    min-height: 50px;
    background-color: rgb(255, 255, 255);
    padding: 5px;
}
#addedStations{
    max-width: 600px;
}
.pfeil_image{
    height: 100%;
    width: 320px;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.pfeil_image img{
    height: 300px;
    margin: auto;
}

@media screen and (max-width: 1500px) {
    .form_contaainer{
        width: 90vw;
    }
}


@media screen and (max-width: 1000px) {
    .form_contaainer{
        width: 90vw;
    }
    .form_container_content{
        padding: 35px;
    }
    .custom_input{
        width: 100%;
    }
    .straba_input{
        width: 100%;
    }
    .dropdown_items{
        width: 100%;
    }
    .input_small{
        width: 98%!important;
    }
    #title{
        font-size: 1.3rem;
        height: 47px;
    }
    .form_contaainer{
        height: 90vh;
        overflow-y: auto;
    }
}
@media screen and (max-width: 900px) {
    .no_mobile{
        display: none;
    }
    .selection_note_directions{
        display: none;
    }
    #submitbutton_notice{
        font-size: large;
    }
    .button_general{
        height: 40px;
    }
    .custom_input{
        height: 70px;
    }
    .straba_input{
        height: 35px;
    }
    #title{
        font-size: 20px;
    }
    #title_description{
        font-size: 18px;
    }
    #new_note{
        font-size: 18px;
    }
    .station_form{
        margin-top: 15px;
    }
    #addedStations h4{
        font-size: 18px;
    }
    #addedStations {
        width: 100%;
    }
    .straba_input_pfeil{
        top: 38px;
    }
    
}
@media screen and (max-width: 600px){
    #menu{
        background-color: unset;
        overflow: auto;
        clip-path: inset(0 0 30px 0);

    }
    .form_container_content{
        padding: 15px;
    }
    #title_description{
        font-size: 14px;
    }
    #new_note{
        font-size: 14px;
    }
    .straba_label{
        font-size: 14px;
    }

    .custom_input{
        margin-top: 5px;
    }
    .straba_input{
        height: 30px;
        border: 1px solid black;
    }
    .straba_input_pfeil{
        top: 33px;
        width: 30px;
    }
    .straba_input_pfeil img{
        height: 15px;
        width: 15px;
    }
    .dropdown_items{
        top: 62px;
    }
    .custom_input{
        height: 60px;
    }   
    .station_form{
        margin-top: 10px;
    } 
    .button_general{
        height: 35px;
    }
    #logo{
        display: none;
    }
    #addedStations{
        font-size: 13px;
    }
    #mobile_container{
        background-color: rgb(255, 255, 255);
        padding: 30px;
        width: unset;

    }
    .container_dark h5 {
        font-size: large;
    }

    #strabaZeile{
        padding: 0;
    }
}
@media screen and (max-width: 350px) {
    .popup{
        height: 90vh;
    }
    
}

